<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container-fluid">
	<nav class="navbar row navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="/"><b>CRYPTO</b>RIDE</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse"  id="navbarColor01">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item ">
		        <a class="nav-link" href="/profile/{{data2.riderid}}">Profile <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/mapRoute/{{data2.riderid}}">Route</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/showDrives/{{data2.riderid}}">Your Drive</a>
		      </li>
		    </ul>
		  </div>

	</nav>

			<div class="container">
			<div class="row">
				<form class="container" action="confirm/{{data2.riderid}}?_id={{data2._id}}" method="post" style=" margin-top:4em;">
					<fieldset class="card border-primary bg-light" >
						<h1 class="card-header" style="text-align:center;">Drive Information</h1>

					<div class="form-group row">
			      <label for="staticEmail" class="col-sm-4 col-form-label" style="text-align:right;">Seats : </label>
			      <div class="col-sm-6">
			        <input type="number" name="seats"  class="form-control"  placeholder="Enter number of seats" >
			      </div>
			    </div>
					<div class="form-group row">
						<div class="col" style="text-align:center;">
							<button type="submit" name="button" class="btn btn-primary btn-lg">Confirm</button>
						</div>
						</div>
					</div>
				</fieldset>
				</form>
		</div>
	</div>







  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
